{% extends "myapp/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% block title %}Password{% endblock %}
{% block main %}
<div class="card-content">
    <div class="card" id="card">
        <div class="row">
            <div class="col-md-12">
                <h1 class="card-title">Password change</h1>
            </div>
        </div>

        <form action="" method="post" class="profile-form">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-4">
                    <p>{{ form.old_password.label }}</p>
                </div>
                <div class="col-md-7">
                    {% render_field form.old_password class="form-control card-input" %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p>{{ form.new_password1.label }}</p>
                </div>
                <div class="col-md-7">
                    {% render_field form.new_password1 class="form-control card-input" %}
                </div>
            </div>

            <div class="row">
                {{ form.new_password1.help_text }}
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p>{{ form.new_password2.label }}</p>
                </div>
                <div class="col-md-7">
                {% render_field form.new_password2 class="form-control card-input" %}
                </div>
            </div>

            <div class="clearfix">
                <button type="submit" class="btn card-btn" style="float:right;">Save changes</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}