{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="login-page">
    <form method="post" class="card-form login-form">
        <h2>Forgot  password</h2>
        {% csrf_token %}
        <div class="form-txt signup-txt">
            {{ form.email }}
            <span data-placeholder="Email"></span>
        </div>

        <div class="clearfix">
            <button type="submit" class="btn" style="float:right">
                Submit
            </button>
        </div>

        <div class="form-footer">
            {% if request.user %}
            <a class="btn btn-sub" href="{% url 'myapp:index' %}">Back to Top</a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
