html {
  height: 100%;
}

body {
    background: #F8F7F5;
    color: #646d67;
    height: 100%;
    font-family: 'Roboto',serif;
}

a {
  color: #47767E;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.red {
  color: #c98e93;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.errorlist > li {
  list-style-type: none;
  padding: 0;
}

.alert > .errorlist > li {
  font-weight: bold;
}

.alert > .errorlist > li > .errorlist > li{
  font-weight: 100;
}

/** login and signup **/
.login-page {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #3f4445 , #008b73);
}

.btn:hover {
   background: #47767E;
   color: #ffffff;
   transition: .5s;
}

.login-page > form > .btn-sub {
   background:#47767E;
   color: #ffffff;
}

.login-page > form > .btn-sub:hover {
   background: #ffffff;
   color: #47767E;
   transition: .5s;
}

.card-form {
    background: #F8F7F5;
    padding: 40px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-form > h2{
    text-align: center;
    padding: 30px 0;
}

.login-form {
    width: 460px;
    height: 500px;
}

.signup-form {
    width: 760px;
    height: 780px;
}

.signup-form > p, .signup-form > ul > li{
    color: #47767E;
}

.signup-form > p{
    padding-bottom: 20px;
}

.form-txt {
    border-bottom: 2px solid #000000;
    position: relative;
}

.login-user-txt {
    margin: 60px 0;
}

.login-user-txt {
    margin: 30px 0 60px 0px;
}

.guide-link {
  font-weight: bold;
  transition: .5s;
  color:#4a4845;
}

.btn-sub {
  padding: 6px 12px;
  border-radius: .25rem;
  background:  #47767E;
  color: #ffffff;
}

.btn-sub:hover{
   background: #315258;
     color: #ffffff;
   transition: .5s;
}

.signup-txt {
    margin: 20px 0 6px;
}

.form-txt input {
    font-size: 15px;
    background: none;
    border: none;
    width: 100%;
    outline: none;
    padding: 0 5px;
    height: 50px;
}

.form-txt span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #4d585a;
    transform: translateY(-60%);
    z-index: -1;
    transition: .5s;
}

.form-txt span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #3f4445 , #47767E);
    transition: .5s;
}

.focus + span::before {
    top: -5px;
}

.focus + span::after {
    width: 100%;
}

.form-footer{
  margin: 20px 0;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #929292;
}

@media screen and (max-width: 900px) {
    .card-form {
        width: 90%;
        height: 780px;
        top: 0;
        padding: 10px;
        transform: translate(-50%, 20%);
    }
}

.navbar {
    background-image: linear-gradient(to right, #008b73,#3f4445 );
    padding: 10px 40px;
}

.dropdown-menu {
  background: #3f4445;
}

.dropdown-item {
  color: #ffffff;
}

/* main page */
.main-content{
  padding: 40px;
}

.content-header {
  margin-top: 20px;
  border-bottom: 1px solid #646d67;
  padding: 10px 0 0 10px;
  color: #7e9fa4;
}

.panel-content {
  margin-bottom: 20px;
  border: 1px solid #646d67;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

.panel-content > img{
  display: block;
  margin:  auto;
  padding-top: 100px;
  width: 50%;
  height: 50%;
}

/* profile page */
.card-content {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.card{
  background: #f1f1ff;
  padding: 60px 40px;
  width: 600px;
  border: none;
}

.card > .row, .profile-form > .row{
  margin: 20px 0;
}

.card-title{
  font-size: 40px;
  text-align: center;
}

.card-input{
  background: #f8f8ff;
}

.card-btn{
   background: #6D75FF;
   color: #ffffff;
}

.card-btn:hover {
   background: #4c51b2;
   color: #ffffff;
   transition: .5s;
}

.email{
  font-weight: 10;
  font-size: 20px;
  padding-left: 20px;
}

.bio{
  text-align: justify;
  padding-left: 20px;
}

.website{
  padding: 10px 0;
  display: inline;
}

.website {
  color: #3f6a71;
  padding-left: 20px;
}